
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}


.container {
  display: flex;
  min-height: 100vh;
}


.barra-lateral {
  width: 250px;
  background-color: #0b162c;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.barra-lateral h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.barra-lateral ul {
  list-style: none;
}

.barra-lateral li {
  margin: 10px 0;
}

.barra-lateral a {
  color: #cbd5e1;
  text-decoration: none;
  display: block;
  padding: 8px 12px;
  border-radius: 5px;
  transition: 0.3s;
}

.barra-lateral a:hover,
.barra-lateral .active a {
  background-color: #2563eb;
  color: #fff;
}

.botao-saida {
  background-color: #dc2626;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}


.conteudo-principal {
  flex: 1;
  background-color: #f9fafb;
  padding: 30px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cabecalho h1 {
  font-size: 22px;
  color: #111827;
}

.botao-adicionar {
  background-color: #2563eb;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.botao-adicionar:hover {
  background-color: #1d4ed8;
}

.barra-pesquisa input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  margin-bottom: 30px;
}


.caixa-vazia {
  background-color: #fff;
  border-radius: 10px;
  padding: 60px;
  text-align: center;
  color: #6b7280;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.caixa-vazia .icon {
  font-size: 40px;
  margin-bottom: 10px;
}