/* cores (possibilidades) */
/* cor primaria: #5C0029; */
/* cor do hover primaria: #88003d */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F4F4F4;
}

.logo {
    width: 100px;
    height: 100px;
}

.nav-bar button {
    background-color: #5C0029;
    color: white;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
}

.nav-bar button:hover {
    background-color: #99114e;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    border-bottom: solid 2px #5C0029;
    font-weight: bolder;
}

.nav-bar a:hover {
    color: #5C0029;
    border-bottom: solid 2px #5C0029;
}